

.get-5padding{
    padding: 5px;
}
button{
    align-self: center;
    width: 50%;
}


.login-container {
    display: flex;
    display: inline-block;
    border : 1px black;
    height: 80%;
    width: 30vw;
}

.text-input{
    width: 100%;
}
form>div {
    justify-content: space-around;
    padding        : 5px;
}


.flex-column {
    flex-direction: column;
}
.alert{
    color: red;
}