.get-flex {
    display: flex;
}
.get-streach{
    width: 100%;
    height: 100%;
}
.flex-wrap{
    flex-wrap: wrap;
}
.get-5padding{
    padding: 5px;
}
button{
    align-self: center;
    width: 50%;
}

.get-flex-center {
    justify-content: center;
    align-items  : center;
}

.login-container {
    display: flex;
    display: inline-block;
    border : 1px black;
    height: 80%;
    width: 30vw;
}

.text-input{
    width: 100%;
}
form>div {
    justify-content: space-around;
    padding        : 5px;
}

.flex-row {
    flex-direction: row;
}

.get-flex-column {
    flex-direction: column;
}
.alert{
    color: red;
}