ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: rgb(56, 51, 51);
    position        :sticky;
    top             : 0;
    width           : 100%;
}
.main{
    z-index: 1;
}
li {
    float: left;
}

li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 1vw;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.clickable:hover{
    font-size: medium;
    cursor: pointer;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
