<div class="flex main-container">
    <div class="flex flex-center flex-column">
        <div class="flex space-between window-width padding">
            <div id="searchbar">
                <input #searchInput type="text" (keyup)="search(searchInput.value)">
                <i>Search</i>
            </div>
            <div>
                <select #selection (change)="orderBy(selection.value)">
                    <option value="" disabled selected hidden>Order by</option>
                    <option value="Id">Id</option>
                    <option value="Name">Name</option>
                    <option value="Date">Date</option>
                </select>
            </div>
        </div>
        <table id="questionsTable">
            <thead>
                <th id="idth">ID</th>
                <th id="nameth">Name</th>
                <th id="dateth">Date</th>
                <th id="functionsth"></th>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions">
                    <td (click)="showInfo(question)">{{question.id}}</td>
                    <td (click)="showInfo(question)">{{question.name}}</td>
                    <td (click)="showInfo(question)">{{question.creationDate | date:'shortDate'}}</td>
                    <td>
                        <button (click)="onEditQuestion(question)">Edit</button>
                        <button (click)="onRemoveQuestion(question)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="window-width flex flex-end padding">
                <button (click)="OnCreateNewQuestion()">Add Question</button>
        </div>
    </div>
    <app-new *ngIf="showNewEditComp"></app-new>
</div>
<div class="popup" *ngIf="deletePopup">
    <div class="popup-content padding window-width">
        <div class="flex flex-center flex-column">
            <div class="flex center window-width padding">Are you sure you want to remove
                {{currentQuestion.name}}?</div>
            <div class="flex center window-width">{{currentQuestion.description}}</div>
            <div class="flex space-around window-width padding">
                <button class="accept" (click)="removeQuestion()">Yes</button>
                <button class="decline" (click)="exitPopup()">No</button>
            </div>
        </div>
    </div>
</div>

<div class="popup" *ngIf="infoPopup">
    <div class="popup-content padding window-width">
        <div class="flex flex-center flex-column">
            <div class="flex center window-width padding">{{currentQuestion.name}}</div>
            <div class="flex center window-width">{{currentQuestion.description}}</div>
            <button class="button" (click)="exitPopup()">Ok</button>
        </div>
    </div>
</div>