<div class="flex main-container">
    <div class="flex flex-center flex-column">
        <div class="flex space-between window-width padding">
            <div id="searchbar">
                <input #searchInput type="text" (keyup)="search(searchInput.value)">
                <i>Search</i>
            </div>
            <div>
                <select #selection (change)="orderBy(selection.value)">
                    <option value="" disabled selected hidden>Order by</option>
                    <option value="Id">Id</option>
                    <option value="Name">Name</option>
                    <option value="Date">Date</option>
                </select>
            </div>
        </div>
        <table id="questionsTable">
            <thead>
                <th id="idth">ID</th>
                <th id="nameth">Name</th>
                <th id="dateth">Date</th>
                <th id="functionsth"></th>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions">
                    <td (click)="showInfo(question)" [innerHTML]="question.id | idhtmlpipe"></td>
                    <td (click)="showInfo(question)">{{question.name}}</td>
                    <td (click)="showInfo(question)">{{question.creationDate | date:'shortDate'}}</td>
                    <td>
                        <i nz-icon nzType="edit" nzTheme="outline" (click)="onEditQuestion(question)"></i>
                        <i nz-icon nzType="delete" nzTheme="outline" (click)="onRemoveQuestion(question)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="window-width flex flex-end padding">
            <button (click)="OnCreateNewQuestion()">Add Question</button>
        </div>
    </div>
    <app-new *ngIf="showNewEditComp"></app-new>
</div>

<app-popup *ngIf="deletePopup" class="popup" [btn1content]="'No'" [btn2content]="'Yes'" [header]='removeQuesMsg()' [msg]="currentQuestion.description"
    (onBtn1Clicked)="exitPopup()" (onBtn2Clicked)="removeQuestion()" ></app-popup>

<app-popup class="popup" (onBtn1Clicked)="exitPopup()" [btn1content]="'Ok'" *ngIf="infoPopup"
    [msg]="currentQuestion.description" [header]="currentQuestion.name"></app-popup>